
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none; }

body { background-color: #161A23;
       padding: 0 120px; }

@media screen and (max-width: 850px) { body { padding: 0 80px; } }
@media screen and (max-width: 700px) { body { padding: 0px 10px; } }

ul { color:white; }

.importante { color: #6ABB35; }
















/*Codigo seccion cabecera de la pagina con logotipo de masterclasses*/

.cabecera_container { width: 100%;
                      height: max-content;
                      margin-top: 20px;
                      display: flex;
                      justify-content: center;
                      align-items: center; }

                      .cabecera_content { width: 100%;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content: flex-start;
                                          align-items: center;
                                          font-size: 20px; }

		                                  .cabecera_content img { width: 35px; }

		                                  .cabecera_content span { font-size: .8em;
		                                                           color: #E33700;
		                                                           font-family: 'Raleway', sans-serif;
		                                                           font-weight: 600; }


/*Codigo seccion main*/

.main-container { width: 100%;
                  height: 90vh;
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center; }

                  .main-content { width: 50%;
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: flex-start;
                                  align-items: center;
                                  padding-right: 20px;

                                  font-size: 20px;
                                  color: white; }

                                  .main-content h4 { font-size: 1.5em;
                                                     font-family: "Righteous",sans-serif;
                                                     font-weight: bold; }

                                  .main-content span { font-size: 1.2em;
                                                       font-family: "Raleway",sans-serif;
                                                       font-weight: bold;
                                                       margin-top: 20px;
                                                       color: #86B302; }

                                  .main-content div { width: 100%;
                                                      display: flex;
                                                      flex-direction: row;
                                                      justify-content: center;
                                                      align-items: center;
                                                      margin-top: 20px;
                                                      font-size: 20px; }

                                                      .main-content div p { font-size: 1em;
                                                                            font-family: "Raleway",sans-serif;
                                                                            margin-right: 5px; }


                   .main_video-container { width: 50%;
                   	                       height: 100%;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           position: relative;
                                           padding: 20px; }

                                           .main_video-container video { width: 100%; }

                                           .main_video-decoration { width: 100%;
                                                                    height: 100%;
                                                                    background-color: #86B302;
                                                                    position: absolute;
                                                                    z-index: -1;
                                                                    clip-path: polygon(100% 1%, 0% 100%, 100% 100%); }


@media screen and (max-width: 1170px) { .main-container { flex-direction: column;
                                                          margin-top: 40px;
                                                          height: max-content; }
                                        
                                        .main-content,
                                        .main_video-container { width: 100%;
                                                                padding: 10px; }
                                         
                                        .main-content div { flex-direction: column; }
                                        .main-content div p { margin-right: 0px;
                                                              margin-bottom: 5px; }
                                        .main-content div img { transform: rotate(90deg); } }






























/* Codigo seccion Social 1*/

.social-container { width: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    padding: 20px; }

                    .social-container h4 { font-size: 1.5em; 
                                           font-family: "Raleway","Ubuntu",sans-serif;
                                           color: #86B302;
                                           margin-bottom: 10px;
                                           font-weight: bold;
                                           text-align: center;
                                           width: 60%; }

                    .social-container p { font-size: .8em;
                                          color: #ccc5;
                                          margin-bottom: 40px;
                                          font-family: "Ubuntu",sans-serif;
                                          width: 60%;
                                          text-align: center !important; }

                    .social-grid-container { width: 100%;

                                             display: grid;
                                             grid-template-columns: repeat(3,1fr);
                                             grid-template-rows: repeat(1,minmax(250px,300px));
                                             grid-gap: 10px; }

                                             .social-grid-container div { border-radius: 10px;
                                                                          cursor: pointer; }

                                                                         .social1-container { background-image: url(multimedia/imagenes/social1.webp);
                                                                                              background-position: center;
                                                                                              background-size: cover;
                                                                                              background-repeat: no-repeat;
                                                                                              background-attachment: scroll;
                                                                                              position: relative;
                                                                                              width: 100%;
                                                                                              height: 100%;
                                                                                              display: flex;
                                                                                              justify-content: center;
                                                                                              align-items: center;
                                                                                              font-size: 20px;
                                                                                              background-color: #12161D;
                                                                                              transition: transform .5s ease-in-out, opacity .2s linear;

                                                                                              opacity: 0;
                                                                                              transform: scale(.9); }

                                                                          .social2-container { background-image: url(multimedia/imagenes/social2.webp);
                                                                                               background-position: center;
                                                                                               background-size: cover;
                                                                                               background-repeat: no-repeat;
                                                                                               background-attachment: scroll;
                                                                                               position: relative;
                                                                                               width: 100%;
                                                                                               height: 100%;
                                                                                               display: flex;
                                                                                               justify-content: center;
                                                                                               align-items: center;
                                                                                               font-size: 20px;
                                                                                               background-color: #12161D;
                                                                                               transition: transform .5s ease-in-out, opacity .2s linear;

                                                                                               opacity: 0;
                                                                                               transform: scale(.9); }
 
                                                                          .social4-container { background-image: url(multimedia/imagenes/social4.webp);
                                                                                               background-position: center;
                                                                                               background-size: cover;
                                                                                               background-repeat: no-repeat;
                                                                                               background-attachment: scroll;
                                                                                               position: relative;
                                                                                               width: 100%;
                                                                                               height: 100%;
                                                                                               display: flex;
                                                                                               justify-content: center;
                                                                                               align-items: center;
                                                                                               font-size: 20px;
                                                                                               background-color: #12161D;
                                                                                               transition: transform .5s ease-in-out, opacity .2s linear;

                                                                                               opacity: 0;
                                                                                               transform: scale(.9); }

                                                                          .social-efect-view { transform: scale(1);
                                                                                               opacity: 1; }

@media screen and (max-width: 710px) { .social-container h4, 
                                       .social-container p  { width: 100%; } }

@media screen and (max-width: 580px) { .social-grid-container { grid-template-columns: repeat(1,1fr);
                                                                grid-template-rows: repeat(3,minmax(250px,300px)); } }


/* Codigo seccion modal para apertura de imagenes Social 1*/

.apertura_social-container { width: 100%;
                             height: 100vh;
                             background-color: rgba(0,0,0,.9);
                             padding: 10px;

                             display: none;
                             justify-content: center;
                             align-items: center;
                             position: fixed;
                             z-index: 200;
                             top: 0;
                             left: 0; }

.apertura_social-container-open { display: flex; }

                             .apertura_social-content { width: 50%;
                                                        background-color: #12161D;
                                                        border-radius: 10px;
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        align-items: center;
                                                        padding: 20px;
                                                        transform: scale(.9);
                                                        opacity: 0;
                                                        transition: transform .2s ease-in-out, opacity .2s ease-in-out; }

                             .apertura_social-content-open  { transform: scale(1);
                                                              opacity: 1; }

                                                        .apertura_social-cerrar-container { width: 100%;
                                                                                            display: flex;
                                                                                            justify-content: flex-end;
                                                                                            align-items: center;
                                                                                            padding-right: 10px;
                                                                                            margin-bottom: 20px; }

                                                                                            .apertura_social-cerrar { cursor: pointer;
                                                                                                                      transition: transform .2s ease-in-out; }

                                                                                                                      .apertura_social-cerrar:hover { transform: rotate(90deg); }

                                                        .apertura_social-img-container { width: 50%; }

                                                                                         .apertura_social-img-container img { width: 100%;
                                                                                                                              border-radius: 10px; }


@media screen and (max-width: 1300px) { .apertura_social-img-container { width: 60%; } }

@media screen and (max-width: 1100px) { .apertura_social-img-container { width: 70%; } }

@media screen and (max-width: 900px) { .apertura_social-img-container { width: 80%; } }

@media screen and  (max-width: 800px) { .apertura_social-img-container { width: 90%; }
                                        .apertura_social-content { width: 60%; }  }

@media screen and  (max-width: 600px) { .apertura_social-img-container { width: 100%; }
                                        .apertura_social-content { width: 70%; }  }

@media screen and (max-width: 500px) { .apertura_social-content { width: 80%; } }

@media screen and (max-width: 450px) { .apertura_social-content { width: 90%; } }
 
@media screen and (max-width: 420px) { .apertura_social-content { width: 99%; } }




/*Codigo seccion promesas*/

.promesas-container { background-color: #86B302;
                      width: 100%;

                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      font-family: "Raleway",sans-serif;
                      padding: 40px 20px;
                      font-size: 20px;
                      margin-top: 20px;
                      border-radius: 5px;  }

                      .promesas-container div { width: 100%;
                                                font-size: 1.2em;
                                                color: white;
                                                font-weight: bold;
                                                text-align: center; }

                      



/* Codigo seccion presentacion del curso*/

.presentacion-container { width: 100%;
                          display: flex;
                          flex-direction: row;
                          flex-wrap: wrap;
                          justify-content: center;
                          align-items: center;
                          margin-top: 40px; }

                          .presentacion-curso-container { width: 50%; }

                                                        .presentacion-curso { width: 100%; }

                          .presentacion-garantia-container { width: 50%;
                                                             display: flex;
                                                             flex-direction: column;
                                                             justify-content: center;
                                                             align-items: flex-start; }

                                                             .presentacion-garantia-content { width: 100%;
                                                                                              display: flex;
                                                                                              flex-direction: row;
                                                                                              justify-content: flex-start;
                                                                                              align-items: center;
                                                                                              font-size: 20px;
                                                                                              font-family: "Ubuntu",sans-serif;
                                                                                              border: 1px solid #86B302;
                                                                                              margin-bottom: 10px;
                                                                                              border-radius: 10px;
                                                                                              padding: 10px; }

                                                                                              .presentacion-garantia { width: 20%; }

                                                                                              .presentacion-garantia-content span { font-size: .8em;
                                                                                                                                    color: white;
                                                                                                                                    margin-left: 5px; }
                                                            

                                                                                               .presentacion-seguro { width: 20%; }


@media screen and (max-width: 1040px) { .presentacion-container { flex-direction: column; }

                                        .presentacion-curso-container,
                                        .presentacion-garantia-container { width: 100%; }

                                        .presentacion-curso-container { margin-bottom: 10px; } }




/*Codigo seccion lograras*/

.lograras-container { width: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      margin-top: 20px;
                      margin-bottom: 20px; }

                      .lograras-content { width: 100%;
                                          display: flex;
                                          flex-direction: row;
                                          justify-content: center;
                                          align-items: center; }

                                          .lograras-letters-container { width: 50%;
                                                                        display: flex;
                                                                        flex-direction: column;
                                                                        justify-content: flex-start;
                                                                        align-items: flex-start;
                                                                        font-size: 20px;
                                                                        margin-right: 5px; }

                                                                        .lograras-letters-container span { font-size: 1.2em;
                                                                                                           color: #86B302;
                                                                                                           margin-bottom: 20px;
                                                                                                           font-family: "Raleway","Ubuntu",sans-serif;
                                                                                                           font-weight: bold;  }

                                                                        .lograras-letters-container li { width: 100%;
                                                                                                         margin-bottom: 5px;
                                                                                                         font-size: 20px;
                                                                                                         font-family:"Ubuntu",sans-serif; }

                                                                                                         .lograras-letters-container li i { font-size: .8em;
                                                                                                                                              color: white; }

                                          .lograras-img-container { width: 50%;
                                                                    display: flex;
                                                                    justify-content:center;
                                                                    align-items: center; }

                                                                    .lograras-img-container img { width: 100%;
                                                                                                  border-radius: 10px; }


@media screen and (max-width: 1100px) { .lograras-content { flex-direction: column-reverse; }
                                       
                                        .lograras-letters-container,
                                        .lograras-img-container { width: 100%; }

                                        .lograras-letters-container { margin-right: 0px;
                                                                      margin-top: 20px;
                                                                      padding-left: 20px; } }


/* Codigo seccion promesas 2,3 y 4*/

.promesa2-container,
.promesa3-container,
.promesa4-container { width: 100%;
                      border-radius: 5px;
                      background-color: #86B302;
                      margin-bottom: 20px;
                      opacity: 0;
                      transform: scale(.9);
                      transition: transform .5s linear, opacity .4s linear;  }

                      .promesas-efect-view { opacity: 1;
                                             transform: scale(1); }

                      .promesa2-container,
                      .promesa3-container,
                      .promesa4-container div { width: 100%;
                                                padding: 20px;
                                                font-size: 20px;
                                                font-family: "Raleway","Ubuntu",sans-serif;

                                                display: flex;
                                                justify-content: center;
                                                align-items: center; }

                                                .promesa2-container,
                                                .promesa3-container,
                                                .promesa4-container div i { font-size: 1.5em;
                                                                            color: white;
                                                                            font-weight: bold;
                                                                            text-align: center; }


/* codigo seccion contenido de curso*/

.contenido-container { width: 100%;
                       display: flex;
                       flex-direction: row-reverse;
                       justify-content: center;
                       align-items: center;
                       margin-top: 40px; }

                       .contenido-content { width: 50%;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: flex-start;
                                            align-self: flex-start;
                                            font-size: 20px;
                                            font-family: "Raleway","Ubuntu",sans-serif;
                                            margin-left: 5px; }

                                            .contenido-content h4 { font-size: 1.2em;
                                                                    color: #86B302;
                                                                    font-weight: bold;
                                                                    margin-bottom: 20px;
                                                                    text-align: left;
                                                                    width: 100%;
                                                                    padding-left: 20px; }

                                            .contenido-content ul { width: 100%;
                                                                    padding: 5px 20px;
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    justify-content: flex-start;
                                                                    align-items: flex-start;

                                                                    font-size: 20px;
                                                                    font-family: "Ubuntu",sans-serif;
                                                                    list-style-type: none; }

                                                                    .contenido-content ul span { font-size: 1em;
                                                                                                 color: #86B302;
                                                                                                 margin-bottom: 5px;
                                                                                                 font-weight: bold; }

                                                                    .contenido-content ul li { font-size: .8em;
                                                                                               color: white;
                                                                                               margin-bottom: 5px; }

                       .contenido-img-container { width: 50%;
                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center; }

                                                  .contenido-img-container img { width: 100%;
                                                                                 border-radius: 10px; }



@media screen and (max-width: 1400px) { .contenido-container { flex-direction: column-reverse; }
                                        .contenido-content { margin-left: 0px;
                                                             margin-top: 20px;
                                                             width: 100%; }

                                        .contenido-content h4 { padding-left: 0px;
                                                                text-align: center;
                                                                align-self: center; }

                                        .contenido-content ul { padding: 5px 0px; } }

@media screen and (max-width: 670px) { .contenido-img-container { width: 100%; } }

@media screen and (max-width: 500px) { .contenido-content h4 { padding: 0 20px;
                                                               text-align: left; } }



/* Codigo seccion bonos Tittle*/

.bonos_tittle-container { width: 100%;
                          background-color: #86B302;
                          padding: 20px;
                          border-radius: 10px;
                          font-size: 20px;
                          margin-top: 40px;

                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center; }

                          .bonos_tittle-container h4 { font-size: 1.5em;
                                                        color: white;
                                                        margin-bottom: 5px;
                                                        font-family: "Raleway","Ubuntu",sans-serif;
                                                        font-weight: bold;
                                                        text-align: center;
                                                        width: 100%; }

                          .bonos_tittle-container h3   { font-size: 1.3em;
                                                         color: white;
                                                         font-family: "Righteous","Ubuntu",sans-serif;
                                                         font-weight: bold;
                                                         text-align: center;
                                                         width: 100%; }




/* Codigo seccion bono 1*/

.bono1-container { width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   background-color: #0D0F14;
                   border-radius: 10px;
                   padding: 20px;
                   margin-top: 20px; }

                   .bono1-content { width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    font-size: 20px; }

                                    .bono1-content h4 { font-size: 1.2em;
                                                        color: #86B302;
                                                        font-family: "Raleway","Ubuntu",sans-serif;
                                                        font-weight: bold;
                                                        margin-bottom: 10px;
                                                        text-align: left; }

                                    .bono1-content p { font-size: .8em;
                                                       color: white;
                                                       font-family: "Ubuntu",sans-serif; }

                   .bono1-img-container { width: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center; }

                                          .bono1-img-container img { width: 80%; }



/* Codigo seccion bono 2*/

.bono2-container { width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   background-color: #0D0F14;
                   border-radius: 10px;
                   padding: 20px;
                   margin-top: 20px; }

                   .bono2-content { width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    font-size: 20px; }

                                    .bono2-content h4 { font-size: 1.2em;
                                                        color: #86B302;
                                                        font-family: "Raleway","Ubuntu",sans-serif;
                                                        font-weight: bold;
                                                        margin-bottom: 10px;
                                                        text-align: left; }

                                    .bono2-content p { font-size: .8em;
                                                       color: white;
                                                       font-family: "Ubuntu",sans-serif; }

                   .bono2-img-container { width: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center; }

                                          .bono2-img-container img { width: 80%; }




/* Codigo seccion bono 3*/

.bono3-container { width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   background-color: #0D0F14;
                   border-radius: 10px;
                   padding: 20px;
                   margin-top: 20px; }

                   .bono3-content { width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    font-size: 20px; }

                                    .bono3-content h4 { font-size: 1.2em;
                                                        color: #86B302;
                                                        font-family: "Raleway","Ubuntu",sans-serif;
                                                        font-weight: bold;
                                                        margin-bottom: 10px;
                                                        text-align: left; }

                                    .bono3-content p { font-size: .8em;
                                                       color: white;
                                                       font-family: "Ubuntu",sans-serif; }

                   .bono3-img-container { width: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center; }

                                          .bono3-img-container img { width: 80%; }




/* Codigo seccion bono 4*/

.bono4-container { width: 100%;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   background-color: #0D0F14;
                   border-radius: 10px;
                   padding: 20px;
                   margin-top: 20px; }

                   .bono4-content { width: 50%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    font-size: 20px; }

                                    .bono4-content h4 { font-size: 1.2em;
                                                        color: #86B302;
                                                        font-family: "Raleway","Ubuntu",sans-serif;
                                                        font-weight: bold;
                                                        margin-bottom: 10px;
                                                        text-align: left; }

                                    .bono4-content p { font-size: .8em;
                                                       color: white;
                                                       font-family: "Ubuntu",sans-serif; }

                   .bono4-img-container { width: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center; }

                                          .bono4-img-container img { width: 80%; }


@media screen and (max-width: 650px) { .bono1-container,
                                       .bono2-container,
                                       .bono3-container,
                                       .bono4-container { flex-direction: column-reverse; }

                                       .bono1-content,
                                       .bono2-content,
                                       .bono3-content,
                                       .bono4-content { width: 100%; }

                                       .bono1-img-container,
                                       .bono2-img-container,
                                       .bono3-img-container,
                                       .bono4-img-container { width: 100%; } }


/* Codigo seccion promesa 5*/

.promesa5-container { width: 100%;
                      background-color: #86B302;
                      border-radius: 10px;
                      padding: 20px;
                      margin-top: 20px;
                      font-size: 20px;
                      font-family: "Raleway","Ubuntu",sans-serif; }

                      .promesa5-container h4 { font-size: 1.5em;
                                               font-weight: bold;
                                               color: white;
                                               text-align: center; }


/* Codigo seccion promesa 6*/

.promesa6-container { width: 100%;
                      background-color: #86B302;
                      border-radius: 10px;
                      padding: 20px;
                      margin-top: 20px;
                      font-size: 20px;
                      font-family: "Raleway","Ubuntu",sans-serif; }

                      .promesa6-container h4 { font-size: 1.5em;
                                               font-weight: bold;
                                               color: white;
                                               text-align: center; }


/* Codigo seccion precios */

.precios-container { width: 100%;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     margin-top: 20px;
                     border-radius: 10px;
                     background-color: #0D0F14;
                     padding: 20px; }

                     .precio_normal-container { width: 100%;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 20px;
                                                font-family: "Righteous","Ubuntu",sans-serif;
                                                margin-bottom: 20px; }

                                                .precio_normal-container h4 { font-size: 1.8em;
                                                                              color: white;
                                                                              font-weight: bold;
                                                                              margin-bottom: 10px;
                                                                              text-align: center; }

                                                .precio_normal-container h3 { font-size: 2em;
                                                                              color: #86B302;
                                                                              font-weight: bold;
                                                                              font-family: "Raleway","Ubuntu",sans-serif;
                                                                              border-radius: 10px;
                                                                              border: 1px solid #86B302;
                                                                              padding: 20px;
                                                                              text-align: center; }

                    .precio_oferta-container { width: 100%;
                                               display: flex;
                                               flex-direction: column;
                                               justify-content: center;
                                               align-items: center;
                                               font-size: 20px;
                                               font-family: "Righteous","Ubuntu",sans-serif; }

                                               .precio_oferta-container h4 { font-size: 1.8em;
                                                                              color: white;
                                                                              font-weight: bold;
                                                                              margin-bottom: 10px;
                                                                              text-align: center;  }

                                               .precio_oferta-container h3 { font-size: 1.5em;
                                                                             color: #86B302;
                                                                             font-family: "Raleway","Ubuntu",sans-serif;
                                                                             text-align: center; }


/* Codigo seccion Conclusiones*/

.conclusiones-container { width: 100%;
                          background-color: #0D0F14;
                          border-radius: 10px;
                          padding: 20px;
                          margin-top: 20px;
                          display: flex;
                          flex-direction: row;
                          justify-content: center;
                          align-items: center;  }

                          .conclusiones_curso-container { width: 50%;
                                                          display: flex;
                                                          flex-direction: column;
                                                          justify-content: center;
                                                          align-items: center;
                                                          font-size: 20px;
                                                          font-family: "Righteous","Raleway","Ubuntu",sans-serif; }

                                                          .conclusiones_curso-container h4 { font-size: 1.5em;
                                                                                             color: white;
                                                                                             font-weight: bold;
                                                                                             margin-bottom: 20px;
                                                                                             text-align: center; }

                                                           .conclusiones_curso-container img  { width: 100%; }

                          .conclusiones_bonos-container { width: 50%;
                                                          display: flex;
                                                          flex-direction: column;
                                                          justify-content: center;
                                                          align-items: center;
                                                          font-size: 20px;
                                                          font-family: "Righteous","Raleway","Ubuntu",sans-serif; }

                                                          .conclusiones_bonos-container h4 { font-size: 1.5em;
                                                                                             color: white;
                                                                                             font-weight: bold;
                                                                                             margin-bottom: 20px;
                                                                                             text-align: center; }

                                                          .conclusiones_bonos-container img { width: 100%;
                                                                                              filter: drop-shadow(0 0px 20px #86B302); }

@media screen and (max-width: 940px) { .conclusiones-container { flex-direction: column; }
                                       .conclusiones_curso-container,
                                       .conclusiones_bonos-container { width: 100%; }

                                       .conclusiones_bonos-container  { margin-top: 20px; } }



/* Codigo seccion oferta*/

.oferta-container { width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #0D0F14;
                    border-radius: 10px;
                    padding: 20px;
                    margin-top: 20px;
                    font-size: 20px; }

                    .oferta-content { width: 100%;
                                      display: flex;
                                      flex-direction: column;
                                      justify-content: center;
                                      align-items: center;
                                      font-size: 20px;
                                      font-family: "Raleway","Ubuntu",sans-serif; }

                                      .oferta-content h4 { font-size: 1.8em; 
                                                           color: white;
                                                           font-weight: bold;
                                                           margin-bottom: 10px;
                                                           text-align: center; }

                                      .oferta-content h3 { font-size: 2em;
                                                           color: #86B302;
                                                           border-radius: 10px;
                                                           border: 1px solid #86B302;
                                                           padding: 20px;
                                                           text-align: center;
                                                           margin-bottom: 20px; }

                                       .oferta-content p { font-size: 1.2em;
                                                           color: #86B302;
                                                           text-align: center; }

                   .oferta-buttom { width: 50%;
                                    padding: 20px;
                                    background-color: #86B302;
                                    border-radius: 10px;
                                    margin-top: 30px;
                                    cursor: pointer;
                                    text-align: center;

                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.2em;
                                    font-family: "Raleway","Ubuntu",sans-serif;
                                    color: white;
                                    transition: background-color .2s linear;
                                    filter: drop-shadow(0 0px 20px #6F9209);  }

                                    .oferta-buttom:hover { background-color: #6F9209; }

@media screen and (max-width: 930px) { .oferta-buttom { width: 70%; } }
@media screen and (max-width: 520px) { .oferta-buttom { width: 80%; } }
@media screen and (max-width: 470px) { .oferta-buttom { width: 100%; } }



/* Codigo seccion final*/

.final-container { width: 100%;
                   padding: 20px;
                   background-color: #0D0F14;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   margin-top: 20px;
                   border-radius: 10px }

                   .final-imgs-container { width: 100%;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           margin-bottom: 10px; }

                                           .final-img1 { width: 20%; }
                                           .final-img2 { width: 15%; }

                   .final-content { width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 20px;
                                    font-family: "Raleway","Ubuntu",sans-serif; }

                                    .final-content h4 { font-size: 1.2em;
                                                        color: #86B302;
                                                        font-weight: bold;
                                                        margin-bottom: 10px;
                                                        text-align: center; }

                                    .final-content p { font-size: .8em;
                                                       color: white;
                                                       text-align: center;
                                                       font-family: "Ubuntu",sans-serif; }

@media screen and (max-width: 500px) { .final-img1{ width: 30% }
                                       .final-img2 { width: 25% } }


/* Codigo footer*/

footer { width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 20px;
         font-family: "Ubuntu",sans-serif;
         margin: 40px 0px; }

         footer h4 { font-size: .9em;
                     color: white;
                     font-weight: bold;
                     margin-bottom: 20px;
                     text-align: center; }

         footer p { font-size: .8em;
                    color: white;
                    text-align: center; }